#root {
  background-image: url("https://images.unsplash.com/photo-1627719736178-dfadf8f370d9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  background-position: center;
  position: relative;
}

.login {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dash-board {
  text-align: center;
  padding-top: 40px;
}

.table-session {
  width: 100%;
  margin: 50px 0;
}
